@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poetsen+One&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: white;
}

a {
    text-decoration: none;
    color: white;
}

.all-top-content {
    max-width: 1360px;
    margin-left: auto;
    margin-right: auto;
}

.all-mid-content {
    max-width: 1360px;
    margin-left: auto;
    margin-right: auto;
}

.top-background {
    background-image: url(images/bg-image.svg);
    padding: 1px 0px 95px 0px;
    border-bottom-left-radius: 45px;
    border-bottom-right-radius: 45px;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 32px
}

.user {
    color: white;
}

#logo-size {
    height: 36px;
    width: 88px;
}

.header-link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
    font-weight: 200;
    font-size: 14px;
    margin-left: 217px;
    margin-right: 217px;
}

.user {
    display: flex;
    flex-direction: row;
}

main {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.top-main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 185px;
    background-size: cover;
}

#top-main-text {
    color: white;
    font-size: 40px;
}

#btn-globe {
    display: flex;
    align-items: center;
    flex-direction: row-reverse ;
    justify-content: center;
    margin-top: 32px;
    border-radius: 10px;
    height: 64px;
    width: 240px;;
    background-color: #7B61FF;
}

.top-main-inf {
    margin-top: 225px;
    display: flex;
    gap: 100px;
    border-radius: 10px;
    background-color: white;
    padding: 20px 30px 20px 30px;
}

.top-main-inf h3{
    padding-top: 5px;
    color: black;
    font-weight: 600;

}

.top-main-inf  p {
    padding-top: 2px;
    color: gray;
}

.top-main-inf-location, .top-main-inf-activity, .top-main-inf-when, .top-main-inf-guests {
    display: flex;
    align-items: center;
}

#top-main-inf-btn {
    width: 60px;
    height: 60px;
    border-radius: 10px;
    border: none;
    background-color: #7B61FF;
}

#icon-globe {
    margin-right: 6px;
}

.top-main-inf-icons {
    margin-top: 5px;
    margin-right: 20px;
    width: 30px;
    height: 30px;
}

.destination {
    margin-top: 150px;
}

.all-destination-places {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.all-destination-places h3 {
    margin-top: 10px;
    font-weight: 500;
}

.all-destination-places p {
    margin-top: 3px;
    color: gray;
}

.hotels {
    margin-top: 150px;
}

.all-hotels-rest-places {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.all-hotels-rest-places h3 {
    margin-top: 10px;
    font-weight: 500;
}

.all-hotels-rest-places p {
    margin-top: 3px;
    color: gray;
}

.activity {
    margin-top: 150px;
}

.all-activity-places {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.all-activity-places h3 {
    margin-top: 10px;
    font-weight: 500;
}

footer {

}