@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poetsen+One&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: white;
}

a {
    text-decoration: none;
    color: white;
}

.all-top-content {
    max-width: 1360px;
    margin-left: auto;
    margin-right: auto;
}

.all-mid-content {
    max-width: 1360px;
    margin-left: auto;
    margin-right: auto;
}

.top-background {
    background-image: url(images/bg-image.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 1px 0px 80px 0px;
    border-bottom-left-radius: 45px;
    border-bottom-right-radius: 45px;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 32px
}

#logo-size {
    height: 36px;
    width: 88px;
}

.header-link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
    font-weight: 200;
    font-size: 14px;
    margin-left: 217px;
    margin-right: 217px;
}

.user {
    display: flex;
    flex-direction: row;
    color: white;
}

.user img {
    width: 60px;
    height: 60px;
    border-radius: 50px;
    border: 4px solid #7B61FF;

}

.hi-user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
    margin-right: 15px;
    line-height: 1.5;
    font-size: 20px;
}

main {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.top-main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 185px;
    background-size: cover;
}

#top-main-text {
    color: white;
    font-size: 40px;
}

#btn-globe {
    display: flex;
    align-items: center;
    flex-direction: row-reverse ;
    justify-content: center;
    margin-top: 32px;
    border-radius: 10px;
    height: 64px;
    width: 240px;;
    background-color: #7B61FF;
}

.top-main-inf {
    margin-top: 225px;
    display: flex;
    gap: 100px;
    border-radius: 10px;
    background-color: white;
    padding: 20px 30px 20px 30px;
}

.top-main-inf h3{
    padding-top: 5px;
    color: black;
    font-weight: 600;

}

.top-main-inf  p {
    padding-top: 2px;
    color: gray;
}

.top-main-inf-location, .top-main-inf-activity, .top-main-inf-when, .top-main-inf-guests {
    display: flex;
    align-items: center;
}

#top-main-inf-btn {
    width: 60px;
    height: 60px;
    border-radius: 10px;
    border: none;
    background-color: #7B61FF;
}

#icon-globe {
    margin-right: 6px;
}

.top-main-inf-icons {
    margin-top: 5px;
    margin-right: 20px;
    width: 30px;
    height: 30px;
}

.destination {
    margin-top: 150px;
}

.all-destination-places {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.all-destination-places h3 {
    margin-top: 10px;
    font-weight: 500;
}

.all-destination-places p {
    margin-top: 3px;
    color: gray;
}

.hotels {
    margin-top: 150px;
}

.all-hotels-rest-places {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.all-hotels-rest-places h3 {
    margin-top: 10px;
    font-weight: 500;
}

.all-hotels-rest-places p {
    margin-top: 3px;
    color: gray;
}

.travel {
    margin-top: 150px; 
}

.all-travel-content {
    display: flex;
}

.travel-first-tip {
    margin-top: 70px;
    display: flex;
    flex-direction: row;
}

.first-tip-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between ;
    margin: 0px 27px 0px 27px;
}

.first-tip-content p, .second-tip-content p {
    margin-top: 30px;
    color: gray;
}

.first-tip-content-info {
    display: flex;
    gap: 20px;
}

.tips-icons {
    display: flex;
    align-items: center;
    gap: 5px;
}

.activity {
    margin-top: 150px;
}

.all-activity-places {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.all-activity-places h3 {
    margin-top: 10px;
    font-weight: 500;
}

.about-us {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 250px;
}

.about-us-left-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 50px;
    margin-right: 35px;
}

.about-us-left-content p {
    line-height: 1.9;
    color: rgb(88, 88, 88);
}

#btn-readmore {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 40px;
    border-radius: 12px;
    color: #7B61FF;
    background-color: #F6F4FF;
    font-size: 17px;
    font-weight: 450;
}

#btn-readmore svg{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
}

#img-about-us {
    border-radius: 25px;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 180px;
    gap: 150px;
    padding: 150px 0px 100px 0px;
    background-color: #F9F9F9;
}

.ftr-main {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.ftr-main p {
    color: gray;
}

#footer-logo-size {
    width: 88px;
    height: 36px;
}

.ftr-main-society {
    display: flex;
    gap: 35px;
}

.ftr-about-all, .ftr-company-all, .ftr-support-all {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;    
}

.ftr-about-all a, .ftr-company-all a, .ftr-support-all a{
    color: gray;
}

.ftr-about h3, .ftr-company h3, .ftr-support h3{
    font-weight: 500;
}

.ftr-subscribe {
    display: flex;
    flex-direction: column;
}

.ftr-subscribe h3 {
    font-weight: 500;
}

.ftr-subscribe-mail {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 15px;
}

.ftr-subscribe-mail-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding:  14px 30px 15px 20px;
    border-radius: 15px;
    background-color: white;
}

.ftr-subscribe-mail-content svg{
    margin-right: 15px;
}

.ftr-subscribe-mail-text {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

#email {
    border: none;
}

#footer-email-submit-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 75px;
    margin-left: 15px;
    border-radius: 15px;
    border: none;
    background-color: #7B61FF;
}